@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111115;
  --foreground: #171717;
  --bodytext: rgb(188, 187, 203);
  --font-color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;

}
