@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #17171a;
  --foreground: #171717;
  --bodytext: rgb(188, 187, 203);
  --font-color: #eaeaea;
  --card-bg: rgb(31, 31, 38);
  --card-bg2: #08080a;
  --font-secondary-color: #8e909c;
  --font-color-second: #86868b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;

}
